/videos/My BEST DEFENSIVE VIPER SETUPS on ALL MAPS Guide - Valorant.mp4
/videos/Viper Guide for the NEW ICEBOX MAP Rework! Snake Bite Lineups Executes and Setups! (Viper Nerfed).mp4
/videos/My BEST ATTACK VIPER SETUPS on ALL MAPS Guide - Valorant.mp4
/videos/Como JOGAR de VIPER na SPLIT (GUIA RADIANTE) [VENENOS ONEWAYS PAREDE e MAIS].mp4